<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kalyan.tutorial">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Auburn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Auburn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WeatherActivity"
            android:label="Weather"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventActivity"
            android:label="Set event"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewsActivity"
            android:parentActivityName=".MainActivity"
            android:label="News"></activity>
        <activity android:name=".WebNews"
            android:parentActivityName=".NewsActivity"/>
        <activity android:name=".NotesActivity"
            android:label="Notes"
            android:parentActivityName=".MainActivity">

        </activity>
    </application>

</manifest>